useDynLib(cpgen)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
#import(Matrix)
#import(pedigreemm)

export("ccov")
export("ccross")
export("cCV")
export("cGBLUP")
export("cgrm.A")
export("cgrm.D")
export("cgrm")
export("cGWAS.emmax")
export("cGWAS")
export("check_openmp")
export("clmm.CV")
export("clmm")
export("cmaf")
export("cscanx")
export("csolve")
export("get_max_threads")
export("set_num_threads")
export("get_num_threads")
export("ccolmv")
export("get_pred")
export("get_cor")
export("rand_data")
export("%c%")                                                                                                         
export("%**%") 
export("cSSBR")
export("cSSBR.setup")
